@charset "UTF-8";

:root {
	--cor0: #1D4286;
}

@font-face {
    font-family: typorpo;
    src: url(/fontes/TypoPRO-LiberationSans-Regular.woff/) format();
}

header {
    background-color: var(--cor0);
    height: 110px;
    margin: auto;
	display: flex;
}

header > aside {
	background-color: white;
	padding-top: 5px;
    height: 105px;
    width: 180px;
    align-content: center;
}

header > aside > img {
    display: block;
    margin: auto;
}

header > h1 {
    color: white;
    margin: 0%;
    height: 110px;
    line-height: 110px;
    text-align: center;
    padding-left: 20px;
    font-family: typopro;
}

h1 {
    background-color: #1D4286;
    color: white;
    text-align: center;
    line-height: 54px;
}
hr {
    margin-top: 0%;
    margin-bottom: 0%;
}
iframe {
    display: block;
    margin: auto;
}

#servicos {
    width: 600px;
    display: block;
    margin: auto;
}
/* Depois vou ter que mudar para span para facilitar ficar um ao lado do outro */
#servico {
    width: 240px;
    display: block;
    margin: auto;
    margin-top: 5px;
    border-style: solid;
    text-align: center;
    font-size: 1.3em;
}